


.home-container {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

/* HERO SECTION */
.hero-section {
  background: url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d") center/cover no-repeat;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  z-index: 2;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

.highlight {
  color: #00bfa6;
}

.hero-subtitle {
  font-size: 1.25rem;
  margin: 10px 0 25px;
}

.cta-btn,
.secondary-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.cta-btn {
  background-color: #00bfa6;
  color: white;
  margin-right: 10px;
}

.cta-btn:hover {
  background-color: #009e8a;
}

.secondary-btn {
  background-color: white;
  color: #00bfa6;
}

.secondary-btn:hover {
  background-color: #e8f9f5;
}

/* CATEGORIES */
.categories-section {
  padding: 60px 0;
}

.section-title {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 600;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.category-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-icon {
  font-size: 2.5rem;
}

/* WHY SECTION */
.why-section {
  background-color: #0ba586;
  padding: 60px 0;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;

}

.why-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* CTA SECTION */
.cta-section {
  background-color: #451328;
  padding: 70px 0;
}

.cta-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.cta-section p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
